<div class="top-wrapper">
  <div class="container">
    <%= form_with model: [@school, @student], url: school_students_path, class: "school-form", local: true do |f| %>
      <p class="form-head">生徒登録</p>
      <div class="form-group">
        <div class="label">学年</div>
        <%= f.text_field :grade, class: "form", placeholder: "半角数字 1 ~ 3 で入力してください", maxlength: 1 %>
        <% @student.errors.full_messages_for(:grade).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">クラス</div>
        <%= f.text_field :my_class, class: "form", placeholder: "半角数字 1 ~ 入力してください", maxlength: 2 %>
        <% @student.errors.full_messages_for(:my_class).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">出席番号</div>
        <%= f.text_field :number, class: "form", placeholder: "半角数字 1 ~ 入力してください", maxlength: 2 %>
        <% @student.errors.full_messages_for(:number).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">苗字</div>
        <%= f.text_field :last_name, class: "form", placeholder: "例： 山田" %>
        <% @student.errors.full_messages_for(:last_name).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">名前</div>
        <%= f.text_field :first_name, class: "form", placeholder: "例： 太郎" %>
        <% @student.errors.full_messages_for(:first_name).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">苗字(カタカナ)</div>
        <%= f.text_field :last_name_kana, class: "form", placeholder: "例： ヤマダ(全角カタカナで入力してください)" %>
        <% @student.errors.full_messages_for(:last_name_kana).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">名前(カタカナ)</div>
        <%= f.text_field :first_name_kana, class: "form", placeholder: "例： タロウ(全角カタカナで入力してください)" %>
        <% @student.errors.full_messages_for(:first_name_kana).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-group">
        <div class="label">生徒確認パスワード(※正しく入力されないと登録できません)</div>
        <%= f.text_field :student_password, class: "form", placeholder: "自分の学校のパスワードを入力してください" %>
        <% @student.errors.full_messages_for(:student_password).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="form-btns">
        <%= f.submit "生徒登録する", class: "submit-btn" %>
      </div>
    <% end %>
  </div>
</div>