<p class="sheet-head">チェックシート</p>
<% @sheets.each do |sheet| %>
  <%= link_to school_sheet_path(sheet.school, sheet), class: "sheets-links" do %>
    <div class="sheet-image-box">
      <%= image_tag "427595.png", class: "sheet-link-image" %>
    </div>
    <div class="sheet-link-class">
      <p>Check Sheet</p>
      <%= "#{sheet.grade}年#{sheet.my_class}組" %>
    </div>
    <div class="sheet-link-date">
      <%= "#{sheet.date.year}/#{sheet.date.month}/#{sheet.date.day}" %>
    </div>
    <div class="sheet-link-teacher">
      <ul class="sheet-teachers">
      <% @teachers.each do |teacher| %>
        <% if teacher.grade == sheet.grade && teacher.my_class == sheet.my_class %>
          <li><%= teacher.name %>先生</li>
        <% end %>  
      <% end %>  
      </ul>
    </div>
  <% end %>
<% end %>