<div class="parent-container">
  <div class="left-container">
  <% @sheets.each do |sheet| %>
    <%= link_to school_sheet_path(sheet.school, sheet), class: "sheets-links" do %>
      <div class="sheet-link-date">
        <p>Health Check Sheet</p>
        <ul class="sheet-date">
          <li><%= sheet.date.year %>年</li>
          <li><%= "#{sheet.date.month}月#{sheet.date.day}日" %></li>
        </ul>
      </div>
      <div class="sheet-link-class">
        <%= "#{sheet.grade}年#{sheet.my_class}組" %>
      </div>
      <div class="sheet-link-teacher">
        <ul class="sheet-teachers">
        <% @teachers.each do |teacher| %>
          <% if teacher.grade == sheet.grade && teacher.my_class == sheet.my_class %>
            <li><%= teacher.name %>先生</li>
          <% end %>  
        <% end %>  
        </ul>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="right-container">
    カレンダー
  </div>
</div>