<div class="top-wrapper">
  <div class="container">
    <div class="catch-copy">
      <p>健康チェックで</p>
      <p>つながる絆</p>
    </div>
    <p class="joining-schools"><i class="fas fa-school"></i> <%= "全国の参加校  #{@schools.length} 校" %></p>
    <div class="school-btns">
      <% if @current_school == nil %>
        <%= link_to "今すぐはじめる", new_school_path, class: "signup-btn" %>
      <% else %>
        <%= link_to "#{@current_school.school_name}へ入る", school_path(@current_school), class: "signup-btn", data: {"turbolinks" => false} %>
      <% end %>  
    </div>
    <div class="catch-image">
      <%= image_tag "547458.png", class: "left-image" %>
      <div class="middle-space"></div>
      <%= image_tag "706165.png", class: "right-image" %>
    </div>
  </div>
</div>

