<%= javascript_pack_tag 'copy_link' %>
<div class="top-wrapper">
  <div class="container">
    <div class="school-info">
      <div class="school-name"><i class="fas fa-school"></i>    <%= @current_school.school_name %></div>
      <div class="school-head"><i class="far fa-user"></i>  <%= "#{@current_school.head_teacher} 校長" %></div>
      <div class="school-students">
        <p><%= "今年度（#{@fiscal_year}年度）" %></p>
        <p><%= "生徒数： #{@current_school.students.count}人"%></p>
      </div>
    </div>
    <div class="join-btns">
      <div class="join-btn teacher-btn"><%= link_to "教員の参加", new_school_teacher_path(@current_school) %>
        <input id="copyTeacher" type="text" value="<%= new_school_teacher_url(@current_school) %>" readonly>
        <button id="copyTeacherButton"><i class="far fa-copy"></i>  リンクをコピー</button>
      </div>
      <div class="join-btn student-btn"><%= link_to "生徒の参加", new_school_student_path(@current_school) %>
        <input id="copyStudent" type="text" value="<%= new_school_student_url(@current_school) %>" readonly>
        <button id="copyStudentButton"><i class="far fa-copy"></i>  リンクをコピー</button>
      </div>

    </div>
  </div>
</div>