<%= javascript_pack_tag "symptoms_slide" %>
<div class="top-wrapper">
  <div class="container">
    <p class="check-head">健康チェックシート</p>
    <%= form_with model: [@current_student.school, @current_student, @check], url: school_student_checks_path, class: "check-container", local: true do |f| %>
      <div class="check-group">
        <div class="check-label">Q1.今日の体調はいかがですか？</div>
        <div class="check-form">
          <%= f.radio_button :condition_id, 1, checked: true %><%= f.label :condition_id, '元気', value: 1 %>
          <%= f.radio_button :condition_id, 2 %><%= f.label :condition_id, '少し悪い', value: 2 %>
          <%= f.radio_button :condition_id, 3 %><%= f.label :condition_id, '悪い', value: 3 %>
        </div>
      </div>
      <div class="check-group">
        <div class="check-label">Q2.何か症状はありますか？</div>
        <div class="symptoms-form">
          <%= f.radio_button :symptoms_id, 1, checked: true, id: "not-symptoms" %><%= f.label :symptoms_id, '特に無し', for: "not-symptoms" %>
          <%= f.radio_button :symptoms_id, 2, id: "has-symptoms" %><%= f.label :symptoms_id, '有り', for: "has-symptoms" %>
        </div>
        <div id="symptoms">
          <div class="check-form">
            <%= collection_check_boxes(:check, :symptom_ids, Symptom.all, :id, :name) do |b| %>
              <div class="symptoms-label"><%= b.label {b.check_box + b.text} %></div>
            <% end %>
          </div>  
        </div>
      </div>
      <div class="check-group">
        <div class="check-label">Q3.朝ごはんは食べましたか？</div>
        <div class="check-form">
          <%= f.radio_button :breakfast, true, checked: true %><%= f.label :breakfast, '食べた', value: "true" %>
          <%= f.radio_button :breakfast, false %><%= f.label :breakfast, '食べていない', value: "false" %>
        </div>
      </div>
      <div class="check-group">
        <div class="check-label">Q4.就寝時刻は何時ごろですか？</div>
        <div class="check-form">
          <%= f.label :bed_time_id, '就寝時刻' %><%= f.collection_select(:bed_time_id, BedTime.all, :id, :name, {}, class: "select-form") %>
          <% @check.errors.full_messages_for(:bed_time_id).each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      </div>
      <div class="check-group">
        <div class="check-label">Q5.体温は何度ですか？</div>
        <div class="check-form">
          <%= f.label :temperature_id, '体温' %><%= f.collection_select(:temperature_id, Temperature.all, :id, :name, {}, class: "select-form") %>
          <% @check.errors.full_messages_for(:temperature_id).each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      </div>
      <div class="check-group">
        <div class="check-label">Q6.本日の出欠確認</div>
        <div class="check-form">
          <%= f.radio_button :attend, true, checked: true %><%= f.label :attend, '出席', value: "true" %>
          <%= f.radio_button :attend, false %><%= f.label :attend, '欠席', value: "false" %>
        </div>
      </div>
      <div class="check-group">
        <div class="check-label">所見欄(任意)</div>
        <div class="check-form">
          <%= f.text_area :opinion, rows: "4", value: "", class: "opinion-form", placeholder: "40字以内で入力してください" %>
          <% @check.errors.full_messages_for(:opinion).each do |message| %>
            <p><%= message %></p>
        <% end %>
        </div>
      </div>
      <div class="check-group-submit">
        <div>
          <%= f.label :check, "保護者チェック欄" %><%= f.check_box :check %>
        </div>
        <% @check.errors.full_messages_for(:check).each do |message| %>
          <p><%= message %></p>
        <% end %>
        <%= f.submit "送信する", class: "check-submit-btn" %>
        <div class="back-btn"><%= link_to "Back", school_students_path(@current_student.school) %></div>
      </div>
    <% end %>
  </div>
</div>