<!DOCTYPE html>
<html>
  <head>
    <title>HealthCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <span><%= link_to "HealthySchool", root_path %></span>
      </div>
      <div class="header-nav">  
        <ul class="header-lists">
          <li class="header-list">
            <%= link_to "使い方ガイド", "#" %>
          </li>
          <% if current_page?(root_path) %>
            <li class="header-list">
              <%= link_to "自分の学校へ行く", login_schools_path %>
            </li>
          <% else %>
            <li class="header-list">
              <%= link_to "設定する", "/schools/#{@school.id}/confirm" %>
            </li>
            <li class="header-list">
              <%= link_to "#{@current_school.school_name}を出る", school_path(@current_school) %>
            </li>
          <% end %>
        </ul>
      </div>        
    </header>
    <%= yield %>
    <footer>
      HealtySchool
    </footer>
  </body>
</html>
