<!DOCTYPE html>
<html>
  <head>
    <title>HealthCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'copy_link' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <% if @current_school || current_page?(root_path) || current_page?(new_school_path) || current_page?(login_form_schools_path) %>
          <%= link_to root_path do %>
            <%= image_tag "logo (5).png", height: "65px" %>
          <% end %>
        <% elsif @current_student && current_page?(school_students_path(@current_student.school)) || @current_student && current_page?(new_school_student_check_path(@current_student.school, @current_student)) %>
          <%= link_to school_students_path(@current_student.school) do %>
            <%= image_tag "logo (5).png", height: "65px" %>
          <% end %>
        <% else %>
          <%= image_tag "logo (5).png", height: "65px" %>
        <% end %>
      </div>
      <div class="header-nav">  
        <ul class="header-lists">
          <% if current_page?(root_path) %>
            <% if @current_school %>
              <li class="header-list">
                <%= link_to @current_school.school_name, school_path(@current_school) %>
              </li>
              <li class="header-list">
                <%= link_to "学校を出る", logout_schools_path %>
              </li>
            <% else %>
              <li class="header-list">
                <%= link_to "新規学校作成", new_school_path %>
              </li>
              <li class="header-list">
                <%= link_to "自分の学校へ行く", login_form_schools_path, class: "signin-btn" %>
              </li>
            <% end %>
          <% elsif current_page?(new_school_path) || current_page?(login_form_schools_path) %>
            <li class="header-list">
              <%= link_to "新規学校作成", new_school_path %>
            </li>
            <li class="header-list">
              <%= link_to "自分の学校へ行く", login_form_schools_path, class: "signin-btn" %>
            </li>
          <% elsif @current_school && current_page?(school_path(@current_school)) || @current_school && current_page?(confirm_school_path(@current_school)) || @current_school && current_page?(edit_school_path(@current_school)) %>
            <li class="header-list">
              <%= link_to @current_school.school_name, school_path(@current_school) %>
            </li>
            <li class="header-list">
              <%= link_to "設定する", confirm_school_path(@current_school), class: "confirm-btn" %>
            </li>
          <% elsif @current_teacher && current_page?(school_teachers_path(@current_teacher.school)) || @current_teacher && current_page?(school_sheets_path(@current_teacher.school)) || @current_teacher && current_page?(school_sheet_path(@current_teacher.school)) %> 
            <li class="header-list">
              <%= link_to @current_teacher.school.school_name, school_teachers_path(@current_teacher.school) %>
            </li>
            <li class="header-list">
              お知らせ 
            </li>
            <li class="header-list name">
              <%= @current_teacher.name %> 
            </li>
          <% elsif @current_student && current_page?(school_students_path(@current_student.school)) || @current_student && current_page?(new_school_student_check_path(@current_student.school, @current_student)) %>  
            <li class="header-list">
              <%= "#{@current_student.grade}年#{@current_student.my_class}組" %>
              <%= @current_student.last_name %><%= @current_student.first_name %>さん
            </li>
          <% end %>   
        </ul>
      </div>     
    </header>
    <% if notice %> 
      <div class="notice-bar">
        <div class="notice"><%= notice %></div>
      </div>
    <% end %> 
    <%= yield %>
    <footer>
      Healthy School
    </footer>
  </body>
</html>
